body{
	margin: 0;
	padding: 0;
	background: rgb(255,255,255);
}
.container{
	text-align: center;
	margin-top: 100px;
}
.img{
	width: 240px;
	height: 400px;
	display: inline-block;
	margin: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	transition: 1.5s;
}
.img:hover{
	background-position: bottom center;
}
.img1{
	background-image: url(../images/i1.png);
}
.img2{
	background-image: url(../images/i2.png);
}
.img3{
	background-image: url(../images/i3.png);
}
.img4{
	background-image: url(../images/i4.png);
}

